<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
      <!--钉钉接口地址-->
      <add key="DDHost" value="https://oapi.dingtalk.com/"/>
      <!--钉钉机器人地址-->
      <add key="RobotSendUrl" value="robot/send?access_token="/>
  </appSettings>
</configuration>